# Ignore everything:
*.*
Library
obj

!Assets/Scripts/**/*.cs
!Assets/Scenes/**/*.*
!*.cs
!*.csproj
!*.sln
!.gitignore


/Assets/Plugins/RealtimeCSG
/Temp
/Assets/Imported/Ciconia Studio/_Shared Files/Scripts/Demo
/Assets/Standard Assets
/Assets/SampleScenes
/Assets/IgniteCoders/Simple Water Shader/Resources
/Assets/Imported/IgniteCoders/Simple Water Shader/Resources
/Assets/Scenes/Venus
/Assets/Scripts/RuntimePresets
/Assets/Scenes/SampleScene
/Assets/Imported/AssetStoreOriginals/_SNAPS_PrototypingAssets/Scripts/Editor/PackageChecker
/Assets/Imported/Real-Time Procedural Cable Simple/Scripts
/Assets/Plugins/UltEvents
