# Ignore everything:
*.*
Library
obj

!Assets/Scripts/**/*.cs
!Assets/Scenes/**/*.*
!*.cs
!*.csproj
!*.sln
!.gitignore


/Assets/Plugins/RealtimeCSG
/Temp
/Assets/Imported/Ciconia Studio/_Shared Files/Scripts/Demo
